{% extends "base.html" %}

{% block main %}
    <h1>Promoções</h1>
    <img src="https://img.ltwebstatic.com/images3_pi/2021/10/13/1634109155b0008a277617bd0e59a282f85f285a71_thumbnail_600x.webp" alt="roupa2">
    <button>Adicionar ao carrinho</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, asperiores reprehenderit tempore accusantium exercitationem illo eius ducimus sunt sapiente temporibus sed earum consectetur quod eveniet distinctio odit officiis delectus doloribus.</p>
{% endblock %}